@media screen and (max-width: 450px){
	
	.row {
		margin: 0;
	}

	.footerItem {
		display: block;
	}

	.logo-container {
		height: 50%;
		max-height: 30%;
	}

	.info-container, .contact-container {
		height: 50%;
		max-height: 50%;
	}

	footer {
		position: relative;
	}
}

@media screen and (min-width: 451px) and (max-width: 750px) {

	.contact-container p {
		padding-left: 10%;
	}

	
	.logo-container {
		width: 100%;
	}

	.info-container, .contact-container{
		width: 100%;
		margin: auto;
	}

	.row {
		margin: 0;
	}
}


@media screen and (min-width: 751px) { 
	.zentific-center-container {			
		height: 350px;
		top: 50%;
		position: absolute;
		margin-top: -200px !important;
	}

	.row {
		display: flex;
	}

	.logo-container {
		margin-left: 16.666666667%;
	}

	.info-container, .contact-container{
		text-align: justify;
	}

	.contact-container {
		padding-right: 20%
	}
}
