@media screen and (max-width: 450px){

	.footerItem {
		display: block;
	}

	footer {
		position: relative;
	}
}

@media screen and (min-width: 451px) and (max-width: 750px) {

	.contact-container p {
		padding-left: 10%;
	}

	
	.logo-container {
		width: 100%;
	}

	.zentific-logo {
		display: block;
		margin: auto;	
		max-width: 100%;
		max-height: 100%;
		height: auto;
		width: auto;
	}

	.info-container, .contact-container{
		width: 100%;
		margin: auto;
	}

	.row {
		margin: 0;
	}
}


@media screen and (min-width: 751px){

	.zentific-center-container {			
		height: 350px;
		top: 50%;
		position: absolute;
		margin-top: -200px !important;
	}

	.row {
		display: flex;
	}

	.logo-container {
	}

	.info-container, .contact-container{
		text-align: justify;
	}
}