/*!
 *
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'sansation_lightregular';
    font-weight: bold;
    /*background-color: #65893a;
    background-color: #7a8492;
    background-color: #7da2d4;
    background-color: #7daeee;*
    color: white;*/
    height: 100vh;
}

.row {
    max-height: 100%;
}

#p {
	text-align: justify;
}

.zentific-logo {
    display: block;
        margin: auto;   
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 11px;
    padding-bottom: 10px;
    text-align: center;
    height: 10%;
}


footer .zentific-footer {
    bottom: 1%;
    width: 100%;
    position: fixed;
}

.required-note {
    color: gray;
}

.contact-container label {
    width: 5em;
}

.contact-container input {
    width: 200px;
}