/*!
 *
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'sansation_lightregular';
    font-weight: bold;
    /*background-color: #65893a;
    background-color: #7a8492;
    background-color: #7da2d4;
    background-color: #7daeee;*
    color: white;*/


}


.zentific-footer {
	text-align: center;
}

#p {
	text-align: justify;
}

.zentific-logo {
    width: 350px;
    height: 350px;
}


.zentific-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 11px;
    padding-bottom: 10px;
}

/*
a {
    color: white;
};

a:visited {
    color: white;
};
*/