/* wilsonminer.com base styles */

@import url(global.css);

* { margin:0; padding:0; }
body { background:#9ED652; color:#333; font:12px/18px "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif; }

/* LINKS */
a:link, a:visited { color:#0085BD; text-decoration:none; }
a:hover { color:#C42B75; }
a img { border:none; }

/* FORMS */
form { margin:0; padding:0; }
fieldset { border:none; margin:0; padding:0; }
label { cursor: pointer; }
textarea { vertical-align:top; }
input, select { vertical-align:middle; }
input, select, textarea { font-size:1em; font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif; }

/* MISC */
hr { height:1px; border:none; color:#D7D7D1; background-color:#D7D7D1; margin:1em 0;}
del { font-weight:normal !important; color:#9B9C8D; }
ins { text-decoration:none; }